{% extends "base/class.php.twig" %}

{% block file_path %}
\Drupal\{{ module }}\Plugin\CommandQuerySeparation\CommandHandlers\{{ class_name }}.
{% endblock %}

{% block namespace_class %}
namespace Drupal\{{ module }}\Plugin\CommandQuerySeparation\CommandHandlers;
{% endblock %}

{% block use_class %}
use Drupal\command_query_separation\CommandHandler;
use {{ command_query_type_fully_qualified_name }};
{% endblock %}
{% block class_declaration %}
/**
 * Plugin implementation of the '{{ plugin_id }}' CommandHandler.
 *
 * @CommandHandler(
 *   id = "{{ plugin_id }}",
 *   label = @Translation("{{ label }}"),
 *   description = @Translation("{{ description }}"),
 *   command_id = "{{ command_query_id }}"
 * )
 */
class {{ class_name }} extends CommandHandler
{% endblock %}
{% block class_methods %}
  /**
  * @param {{ command_query_type_name }} $command
  * @return void
  */
  function handle($command) {
    // TODO: Implement handle() method.
  }
{% endblock %}
