{% extends "base/class.php.twig" %}

{% block file_path %}
\Drupal\{{ module }}\Plugin\CommandQuerySeparation\QueryHandlers\{{ class_name }}.
{% endblock %}

{% block namespace_class %}
namespace Drupal\{{ module }}\Plugin\CommandQuerySeparation\QueryHandlers;
{% endblock %}

{% block use_class %}
use Drupal\command_query_separation\QueryHandler;
use {{ command_query_type_fully_qualified_name }};
{% endblock %}
{% block class_declaration %}
/**
 * Plugin implementation of the '{{ plugin_id }}' QueryHandler.
 *
 * @QueryHandler(
 *   id = "{{ plugin_id }}",
 *   label = @Translation("{{ label }}"),
 *   description = @Translation("{{ description }}"),
 *   query_id = "{{ command_query_id }}"
 * )
 */
class {{ class_name }} extends QueryHandler
{% endblock %}
{% block class_methods %}
  /**
  * @param {{ command_query_type_name }} $query
  * @return mixed
  */
  function handle($query) {
    // TODO: Implement handle() method.
  }
{% endblock %}
